//body {
  background-color: #FFFAFA;
  font-family: sans-serif;
  margin: auto;
  text-align: center;
}

header video
{
  object-fit: cover;
  width: 100%;
  max-height: 650px;
  filter: brightness(25%);
  position: absolute;
}

.expertise
{
  padding: 380px 0 150px;
position: relative;
background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613;
font-family: Montserrat;
color: #fff;
}

.expertise-img {
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 10;
    max-width: 735px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.expertise-item-body {
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 88px;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: rgba(256,256,256,.7);
    width: 260px;
    max-width: 100%;
}
//.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.advantage {
    background: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(5,12,51,.05);
    margin-left: -12px;
    margin-right: -12px;
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 292px;
}
.textcent
{
  text-align: center;
}
.advantage-icon
{
position: absolute;
right: 0;
bottom: 0;
z-index: 5;
}
.expertise-col {
    margin-bottom: 30px;
}
.col-sm-6, .col-xs-12
{
  float: left;
}
.col-sm-6, .col-xs-12
{
  position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-md-offset-6 {
    margin-left: 50%;
}
.expertise a {
    color: #f14d34;
}
a {
    background-color: transparent;
}
.competencies-row {
    margin-bottom: 0;
}
.competency {
    margin-bottom: 60px;
}
.with-expertise .advantages-row {
    margin-bottom: -212px;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.advantages-row {
    padding: 0 12px;
    position: relative;
    z-index: 20;
}


ol{
    list-style: none;
}
ol > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
ol > li:before{
    content: 1;
    position: absolute; top: 0; left: 0;
}

//:after, :before, * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//body {
  font-size: 11pt;
  text-align: left;
  font-family: Verdana, Tahoma, sans-serif;
}

.containerS {
  width: 70%;
  margin: 50px auto;
  display: block;
}
.containerS .nice-header {
  text-align: center;
  font-size: 4.5em;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
}
.containerS .nice-header .sub {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 13pt;
  font-weight: normal;
  text-decoration: none;
}
.containerS .nice-header .sub:hover {
  text-decoration: underline;
  color: #000;
}
.containerS .faq {
  width: 100%;
  position: relative;
}
.containerS .faq-questions {
  list-style: none;
}
.containerS .faq-questions, .container .faq-questions > li {
  width: 100%;
  display: block;
  padding: 10px;
  border: orange;
}
.containerS .faq-questions > li h4.faq-question, .container .faq-questions > li faq-question {
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
}
.containerS .faq-questions > li p.faq-answer, .container .faq-questions > li .faq-asnwer {
  font-size: 10pt;
  line-height: 1.5;
  margin-top: 7px;
  display: none;
}
.containerS .faq-questions > li p.faq-answer:hover, .container .faq-questions > li .faq-asnwer:hover {
  color: #000;
}
